
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}


.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  margin: auto;
  /* display: inline-block; */
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 42px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  pointer-events: none;
}

div.ans {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 100px;
  font: 16px sans-serif;
  background: rgb(29, 140, 173);
  border: 4px;
  pointer-events: none;
}

caption {
  width: 600px;
  font-size:0.9em;
  margin: auto;
}

.car {
  width:400px;
}

.pie {
  width:300px;
  margin: auto;
}

.chart-wrapper {
  max-width: 950px;
  min-width: 304px;
  margin: 0 auto;
  background-color: #FAF7F7;
}

.chart-wrapper .inner-wrapper {
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}

.chart-wrapper .outer-box {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper .inner-box {
  width: 100%;
  height: 100%;
}

.chart-wrapper text {
font-family: sans-serif;
font-size: 11px;
}

.chart-wrapper p {
  font-size: 16px;
  margin-top:5px;
  margin-bottom: 40px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
  fill: none;
  stroke: #1F1F2E;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;

}
.chart-wrapper .axis path {
stroke-width: 2px;
}

.chart-wrapper .line {
fill: none;
stroke: steelblue;
stroke-width: 5px;
}

.chart-wrapper .legend  {
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 10px 40px;
}
.chart-wrapper .legend > div {
  margin: 0px 25px 10px 0px;
  flex-grow: 0;
}
.chart-wrapper .legend p {
  display:inline;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 600;
}
.chart-wrapper .legend .series-marker {
  height: 1em;
  width: 1em;
  border-radius: 35%;
  background-color: crimson;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
fill: none;
pointer-events: all;
}

.chart-wrapper .focus circle {
fill: crimson;
stroke: crimson;
stroke-width: 2px;
fill-opacity: 15%;
}
.chart-wrapper .focus rect {
  fill: lightblue;
  opacity: 0.4;
  border-radius: 2px;
}
.chart-wrapper .focus.line {
  stroke: steelblue;
  stroke-dasharray: 2,5;
  stroke-width: 2;
  opacity: 0.5;
}
@media (max-width:500px){
  .chart-wrapper .line {stroke-width: 3px;}
  .chart-wrapper .legend {font-size: 14px;}
}